@model SGAWebApplication.Models.ModelImgClass
@{
    ViewData["Title"] = "Home Page";
}

 <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            @foreach (var itm in Model.simgList)
            {                
                var base64 = Convert.ToBase64String(itm.Data);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                
                
                <div class="owl-carousel-item position-relative" data-dot="<img src='@imgsrc'>">
                    <img class="img-fluid" src="@imgsrc" alt="">
                    <div class="owl-carousel-inner">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown">@itm.ImgTitle</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-3">@itm.ImgContent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
    <!-- Carousel End -->

