@model SGAWebApplication.Models.AboutUs
@{
    ViewData["Title"] = "AboutUs";
}

<div class="container">    
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>
                            About Us
                        </h2>
                    </div>                    
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>                        
                        <td>(503) 555-9931</td>
                        <td>
                            <a class="add" title="" data-toggle="tooltip" data-original-title="Add"><i class="material-icons">Edit</i></a>                            
                        </td>
                    </tr>
                   

                </tbody>
            </table>
        </div>
    </div>
</div>